/* Style the tab */
.tab {
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin: 0 ;
  position: relative;
    z-index: 999;
 
  
}
  

.tabs-portfolio {
  max-width: 90%;
  margin: 0 auto 60px;
}
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    
    border-radius: 10px 10px 0px 0;
  }
  .tabs-portfolio h4 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin: 0px auto 40px;
    opacity: .7;
    text-transform: capitalize;
}
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }
  .tabcontentPlans {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }

 