.contact {
    height:80vh;
}
input,textarea {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    box-shadow: none;
    border:1px solid #b0d9fb;
    margin: 5px auto;
    display: block;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
div#returnSend .container {
    background: white;
    border-radius: 10px;
    padding: 35px 0;
    position: absolute;
    z-index: 999;
    margin: 0;
    width: 100%;
    left: 0;
}
div#returnSend {
    position: absolute;
    width: 100%;
}
div#returnSend h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 900
}
.footer-controls {
    display: flex;
    justify-content: center;
}
div#returnSend{
   display: none;
}
.footer-controls button {
    background: blue;
    color: white;
    border: 1px solid white;
    width: 140px;
    height: 50px;
    border-radius: 10px;
}
div#returnSend p{
    font-size: 1rem;
    text-align: center;
   margin: 10px auto;
}
div#returnSend .container {
    position: absolute;
}   
textarea{
 height: 100px;
 padding-top: 15px;
}
.contact form {
    position: relative;
}
button.btn.primary {
    display: block;
    margin: 15px auto;
    width: 80%;
    height: 50px;
    background-image: linear-gradient(to right top, #f5c5ea, #a5e4fd);
    
    border-radius: 30px;
    border: 1px solid white;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 0.7rem;
    max-width: 200px;
}
h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    font-weight: 900;
}


@media (min-width:1024px){
    div#returnSend .container {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    button.btn.primary{
        float: right;
    }
    .container-flex {
        display: flex;
        justify-content: space-between;
        max-width: 85%;
        margin: 0 auto;
    }
    div#contact .container-flex > div:first-child {
        width: 50%;
    }
    div#contact .container-flex > div:last-child {
        width: 40%;
        padding: 80px 0 0;
    }   
    h2 {
        
        text-align: left;
      
    }
    .contact h4 {
        
        text-align: left;
        font-size: 1.9rem;
      
    }
    input,textarea {
        margin: 10px 0;
        width: 100% ;
    }
}