 
.menu nav {
    width: 100%;
}
.menu nav ul { 
    justify-content: space-between;
    align-items: center;
}
.menu nav ul li {
   list-style: none;
}
.menu nav ul li a {
    text-decoration: none;
 
 }

 .menu a.btn.primary.convert-btn {
    max-width: 150px;
    max-height: 38px;
}
nav .controls {
    margin: 0 auto;
}
li.iten-dropdown .dropdown {
    display: none;
    position: relative;
    background-color: white;
}
li.iten-dropdown:hover .dropdown{
    display: block;
    
}

.dropdown ul {
    background: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.dropdown ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown ul li a{
    text-align: left;
    align-items: center;
    justify-content: space-between;
    display: flex;  
    width: 100%;
    opacity: .8;
    font-size: 15px !important;
    padding: 10px;

}
.dropdown ul li a svg{
    font-size: 13px;
    margin-right: 10px;
}
@media (max-width:1024px){
    .dropdown, .dropdown ul{
        margin: 10px  !important;
    } 
    .menu nav ul {
        justify-content: space-between;
        align-items: center;
        margin: 60px 30px;
    }
    .dropdown ul {
        padding: 0;
        margin: 0;
    }
    .menu nav ul li {
        list-style: none;
        margin: 50px auto;
    }
    .dropdown li {
        margin: 15px 0 !important;
    }
    
    .menu nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.4rem;
    }  
 nav  {
    display: none ;
 }
 nav {
    width: 100%;
}
    button.btn-menu {
        background: transparent;
        border: 0;
        font-size: 30px;
        margin-right: 10px;
    }
    nav {
        background:#efefef;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}
@media(min-width:1025px){
        .menu button{
            display: none;
        }
        .menu nav ul{
            display: flex;
        }
        .menu nav ul li a {
     
            text-transform: uppercase;
            font-weight: 600;
            opacity: .9;
        }
        .dropdown ul li a {
            
            font-size: 14px !important;
            padding: 10px 5px;
            border-bottom: 1px solid #eee;
        }
        li.iten-dropdown .dropdown {
           
            position: absolute;
            margin: 25px 0;
            width: 300px;   
        }
}

    @media(min-width:1400px){
    header div {
        margin: 0 3%;
    }
    .display span {
        font-size: 6.0rem !important;
    }
    .display h1 {
        font-size: 3.0rem;
        letter-spacing: 22px;
    }
    .display span {
        font-size: 6.0rem !important;
        letter-spacing: 25px;
    }
    footer .display a span {
        font-size: 15px !important;
        letter-spacing: 0px !important;
    }
 }
 @media(min-width:1400px){
    nav {
        max-width: 800px;
        float: right;
        width: 618px;
    }

 }